.container {
    background-color: #9c27b0;
    border: 4px solid #7b1fa2;
    border-radius: 15px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    max-width: 35%;
    margin: 20px auto;
    padding: 25px;
}

#search-form {
    margin-bottom: 25px;
}

.btn {
    background-color: #7b1fa2;
    border: 1px solid #fff;
    transition: all 150ms ease-in-out;
}

.btn:hover {
    background-color: #ffc107;
    border-color: #fff;
    cursor: pointer;
}

#today {
    position: relative;
    top: -10px;
}

#weather-icon {
    display: block;
    margin: 0 auto;
    width: 125px;
}

#temperature {
    font-size: 100px;
    position: relative;
    right: 25px;
    line-height: 1;
}

#units {
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: -108px;
    left: 50px;
}

#units a {
    color: #ffc107;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

#units a:active {
    color: #fff;
}

#units a:hover {
    color: #fff;
    cursor: pointer;
}

