.container {
  background-color: #9c27b0;
  border: 4px solid #7b1fa2;
  border-radius: 15px;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  max-width: 30%;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#search-form {
  margin-bottom: 25px;
}

.btn {
  background-color: #7b1fa2;
  border: 1px solid #fff;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: #ffc107;
  border-color: #fff;
  cursor: pointer;
}

h1 {
  text-transform: capitalize;
}

#today {
  position: relative;
  top: -10px;
  font-size: 18px;
  margin: 0;
}

#now {
  margin: 10px;
}

#weather-icon {
  width: 200px;
}

#temperature-field {
  margin-bottom: 0px;
}

#temperature {
  font-size: 110px;
  position: relative;
  top: 18px;
  left: 15px;
}

#units {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 22px;
  right: 40px;
}

#units a {
  color: #ffc107;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

#units a:active {
  color: #fff;
}

#units a:hover {
  color: #7b1fa2;
  cursor: pointer;
}

#details {
  font-size: 14px;
  text-align: center;
  padding: 0px 20px 70px 25px;
}

#description::first-letter {
  text-transform: uppercase;
}

hr {
  border: none;
  border-top: 1px solid #ffc107;
  border-radius: 5px;
  opacity: 1;
}

#forecast-titles .row {
  line-height: 0%;
  padding-right: 15px;
}

#forecast-titles .row .col-1 {
  font-size: 15px;
  text-align: center;
  padding: 0px;
}

#forecast-titles .row .col-2 {
  font-size: 15px;
  text-align: center;
  padding: 0px;
}

#forecast .row {
  padding-right: 15px;
  padding-left: 5px;
}

#forecast .row .col-1 {
  height: 25px;
  text-align: center;
  padding: 0;
}

#forecast .row .col-2 {
  height: 25px;
  text-align: center;
  padding: 0;
}

#forecast .row .col-7 {
  font-size: 14px;
  height: 25px;
  text-transform: uppercase;
}

#forecast-icon {
  max-width: 60px;
  position: relative;
  top: -12px;
}

.celsiusForecast {
  font-size: 10px;
  position: relative;
  top: -5px;
  right: -2px;
}

#copyright {
  text-align: center;
  margin-bottom: 100px;
}

#copyright a {
  color: #7b1fa2;
  text-decoration: none;
}
